@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="logo.png" width="300" height="300" alt="Logo">
    <iframe class="discord-widget" src="https://discord.com/widget?id=663101542685212697&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
    <iframe class="trello-widget" src="https://trello.com/b/uEqGT8F7.html" width="350" height="500"></iframe>
    <h1 class="display-4">Welcome to Witchery: Resurrected</h1>
    Witchery: Resurrected aims to recreate and improve the popular <a href="https://www.curseforge.com/minecraft/mc-mods/witchery">Witchery</a> mod in modern versions; with a focus on customizability.
    <br>
    <br>
    Currently, the project is incomplete asset wise. As such, we require the original mod file to be loaded alongside Witchery: Resurrected.
    <br>
    Feature wise, everything is implemented; however the backend of the mod is being rewritten to increase maintanability, performance and quality.
    <br>
    After both assets and rewriting is complete, the mod will be released to sites such as <a href="https://www.curseforge.com/minecraft/mc-mods">CurseForge</a> and <a href="https://modrinth.com/mods">Modrinth</a>
    <br>
    You can find functional test downloads in the <a asp-area="" asp-controller="Home" asp-action="Downloads">Downloads</a> page.
    <br>
    <br>
    <h2>Trailer:</h2>
    Coming soon!
</div>
