@{
    ViewData["Title"] = "Upload";
}
<h1>@ViewData["Title"]</h1>

@model WitcheryResurrectedWeb.Controllers.HomeController.Uploadable
<form asp-action="UploadFiles" method="post" enctype="multipart/form-data">
    <label>
        Name:
        <br>
        <input asp-for="Name"/>
    </label>
    <br>
    <br>
    <label>
        Files:
        <br>
        <input asp-for="Files" multiple/>
    </label>
    <br>
    <br>
    <label>
        Changelog:
        <br>
        <textarea asp-for="ChangeLog"></textarea>
    </label>
    <br>
    <br>
    <label>
        Secret Code:
        <br>
        <input asp-for="Pass"/>
    </label>
    <br>
    <br>
    <input type="submit"/>
</form>
