@font-face {
  font-family: 'Mojang';
  src: url('../../assets/fonts/Mojang-Regular.ttf') format('truetype');
  font-weight: normal;
}

:root {
  --crafting-table-grid-scaler: 1.2;
  --furnace-grid-scaler: 1.2;
  --kettle-grid-scaler: 1.2;
}

.minecraft {
  padding: 0.375em;
  letter-spacing: -0.5px;
  word-spacing: 6px;
  line-height: 1.25em;
  white-space: nowrap;
  margin: 0.125em 0.25em;
}

.crafting-grid {
  position: relative;
}

/* CRAFTING TABLE */
.crafting-grid.crafting-table {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: flex-start;
  width: calc(256px * var(--crafting-table-grid-scaler));
  height: calc(132px * var(--crafting-table-grid-scaler));
  background: url('../../assets/images/crafting_guis/crafting_table.png') no-repeat;
  background-size: cover;
  image-rendering: pixelated;
}

.crafting-grid.crafting-table .recipe {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: calc((36px * var(--crafting-table-grid-scaler) * 3) + (12px * var(--crafting-table-grid-scaler)));
  height: calc((36px * var(--crafting-table-grid-scaler) * 3) + (12px * var(--crafting-table-grid-scaler)));
  padding-top: calc(12px * var(--crafting-table-grid-scaler));
  padding-left: calc(12px * var(--crafting-table-grid-scaler));
}

.crafting-grid.crafting-table .product {
  display: flex;
  justify-content: flex-end;
  align-self: center;
  padding-right: calc(12px * var(--crafting-table-grid-scaler));
}

.crafting-grid.crafting-table .product .slot {
  width: calc(52px * var(--crafting-table-grid-scaler));
  height: calc(52px * var(--crafting-table-grid-scaler));
  padding: 3px;
}
/* CRAFTING TABLE */

/* FURNACE */
.crafting-grid.furnace {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: flex-start;
  width: calc(180px * var(--furnace-grid-scaler));
  height: calc(124px * var(--furnace-grid-scaler));
  background: url('../../assets/images/crafting_guis/furnace.png') no-repeat;
  background-size: cover;
  image-rendering: pixelated;
}

.crafting-grid.furnace .recipe {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: calc((36px * var(--furnace-grid-scaler)) + (8px * var(--furnace-grid-scaler)));
  height: calc((108px * var(--furnace-grid-scaler)) + (8px * var(--furnace-grid-scaler)));
  padding-top: calc(8px * var(--furnace-grid-scaler));
  padding-left: calc(8px * var(--furnace-grid-scaler));
}

.crafting-grid.furnace .product {
  display: flex;
  justify-content: flex-end;
  align-self: center;
  padding-right: calc(8px * var(--furnace-grid-scaler));
}

.crafting-grid.furnace .product .slot {
  width: calc(52px * var(--furnace-grid-scaler));
  height: calc(52px * var(--furnace-grid-scaler));
  padding: 3px;
}

.crafting-grid.furnace .progress-arrow {
  width: calc(48px * var(--furnace-grid-scaler));
  height: calc(34px * var(--furnace-grid-scaler));
  top: calc(46px * var(--furnace-grid-scaler));
  left: calc(56px * var(--furnace-grid-scaler));
  animation: progress 2s steps(16, end) 0s infinite normal forwards;
}

.crafting-grid.furnace .smelting-flames {
  width: calc(28px * var(--furnace-grid-scaler));
  height: calc(28px * var(--furnace-grid-scaler));
  top: calc(48px * var(--furnace-grid-scaler));
  left: calc(12px * var(--furnace-grid-scaler));
  animation: flame 2s steps(16, end) 0s infinite normal forwards;
}
/* FURNACE */

/* KETTLE */
.crafting-grid.kettle {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: flex-start;
  width: calc(256px * var(--kettle-grid-scaler));
  height: calc(132px * var(--kettle-grid-scaler));
  background: url('../../assets/images/crafting_guis/kettle.png') no-repeat;
  background-size: cover;
  image-rendering: pixelated;
}

.crafting-grid.kettle .recipe {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: calc((24px * var(--kettle-grid-scaler) * 3) + (30px * var(--kettle-grid-scaler)));
  height: calc((36px * var(--kettle-grid-scaler) * 3) + (12px * var(--kettle-grid-scaler)));
  padding-top: calc(12px * var(--kettle-grid-scaler));
  padding-left: calc(30px * var(--kettle-grid-scaler));
}

.crafting-grid.kettle .product {
  display: flex;
  justify-content: flex-end;
  align-self: center;
  padding-right: calc(28px * var(--kettle-grid-scaler));
}

.crafting-grid.kettle .product .slot {
  width: calc(52px * var(--kettle-grid-scaler));
  height: calc(52px * var(--kettle-grid-scaler));
  padding: 3px;
}

.crafting-grid.kettle .progress-arrow {
  width: calc(48px * var(--kettle-grid-scaler));
  height: calc(32px * var(--kettle-grid-scaler));
  top: calc(50px * var(--kettle-grid-scaler));
  left: calc(116px * var(--kettle-grid-scaler));
  animation: progress 2s steps(16, end) 0s infinite normal forwards;
}
/* KETTLE */

.crafting-grid .title {
  position: absolute;
  right: 3px;
  font-family: Mojang, 'Gill Sans', sans-serif;
  font-size: 14px;
  color: #555;
  text-shadow: 0.125em 0.125em 0 #151515;
}

.crafting-grid .slot {
  width: calc(36px * var(--crafting-table-grid-scaler));
  height: calc(36px * var(--crafting-table-grid-scaler));
  padding: 2px;
}
.crafting-grid .slot.clickable {
  cursor: pointer;
}

.crafting-grid .slot .tooltip { /* Parts borrowed from https://ftb.fandom.com */
  position: fixed;
  background: rgba(16, 0, 16, 0.9);
  color: white;
  text-shadow: 0.125em 0.125em 0 #3f3f3f;
  font-family: Mojang, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  pointer-events: none;
  visibility: hidden;
  opacity: 1;
  z-index: 100;
}
.crafting-grid .slot:hover .tooltip {
  visibility: visible;
}
.crafting-grid .slot .tooltip::before {
  content: '';
  position: absolute;
  top: 0.125em;
  right: -0.125em;
  bottom: 0.125em;
  left: -0.125em;
  border: 0.125em solid #100010;
  border-style: none solid;
  border-color: rgba(16, 0, 16, 0.9);
}
.crafting-grid .slot .tooltip::after {
  content: '';
  position: absolute;
  top: 0.125em;
  right: 0;
  bottom: 0.125em;
  left: 0;
  border: 0.125em solid #2D0A63;
  border-image: linear-gradient(rgba(80, 0, 255, 0.3), rgba(40, 0, 127, 0.3)) 1;
}

.crafting-grid .slot img {
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
}

.crafting-grid .pause {
  position: absolute;
  border-radius: 10px 0;
}

.crafting-grid .decorations {
  position: absolute;
}

.crafting-grid .progress-arrow {
  position: absolute;
}

.crafting-grid .smelting-flames {
  position: absolute;
}

@keyframes progress {
  from {
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  } to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

@keyframes flame {
  from {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  } to {
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  }
}
