@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,400,0,0');

:root {
  --main: #7a2a91;
  --accent: #9a39b4;
  --complement: #3dd34a;
  --complement-accent: #33ad3d;
  --background: url('../../assets/images/background.png');
  --semifrost-back: rgba(38, 39, 43, 0.2);
  --frost-back: rgba(38, 39, 43, 0.4);
  --superfrost-back: rgba(38, 39, 43, 0.2);
  --antifrost-back: rgba(146, 149, 165, 0.2);
  --link: #5969d4;
  --link-hover: #4653a1;
  --bs-darker: #292929;

  --compendium-main: #c91006;
  --compendium-accent: #93180f;
  --compendium-off: #660f03;
  --compendium-complement: #202375;
  --compendium-back-main: #fdf8ec;
  --compendium-back-complement: #6f462a;
}

#root {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

#app {
  display: flex;
  flex-flow: column;
  flex: 1;
  background-image: var(--background);
  background-size: cover;
  background-attachment: fixed;
}

.page {
  display: flex;
  flex-flow: column;
  flex: 1;
}
.content {
  flex: 1;
  overflow: hidden;
}

a {
  color: var(--link) !important;
}
a:hover {
  color: var(--link-hover) !important;
}

ul:last-child {
  margin-bottom: 0;
}

.card {
  border-radius: 10px;
}

.frosted {
  background: var(--frost-back);
  backdrop-filter: blur(10px);
}
.superfrosted {
  background: var(--superfrost-back);
  backdrop-filter: blur(15px);
}
.semifrosted {
  background: var(--semifrost-back);
  backdrop-filter: blur(5px);
}
.antifrosted {
  background: var(--antifrost-back);
  backdrop-filter: blur(2px);
}

.question {
  font-style: italic;
}

.loading-placeholder {
  font-size: 5vw;
  opacity: 0.6;
}
.loading-placeholder::after {
  content: '';
  animation: tick 1s linear 0s infinite normal forwards;
}

.slot:not(.no-square) {
  background: rgba(139, 139, 139, 0.8);
  border: 2px solid;
  border-color: #373737 #FFF #FFF #373737;
}
.slot.uncertain img {
  animation: flicker 1s ease-in-out 0s infinite alternate forwards;
}

.error {
  position: fixed;
  top: 0;
  margin: 1vw;
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  padding: .75rem 1.25rem;
  z-index: 100;
}
.error .header {
  margin-bottom: 1vh;
  font-size: xx-large;
  text-align: center;
}
.error .close {
  position: absolute;
  top: 0;
  right: 0;
  float: right;
  padding: .3rem .5rem !important;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  color: white;
  background: transparent;
  border: none;
  text-shadow: none;
  opacity: 0.4;
}
.error .close:hover {
  opacity: 0.75;
}
.error .code {
  font-style: italic;
}

*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px 10px var(--dark);
  border: solid 5px transparent;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px 10px var(--main);
  border: solid 5px transparent;
  border-radius: 10px;
}
*::-webkit-scrollbar-thumb:hover {
  box-shadow: inset 0 0 10px 10px var(--complement);
}

*::-webkit-scrollbar-corner {
  opacity: 0;
}

@keyframes tick {
  0% {
    content: '';
  }
  25% {
    content: '.';
  }
  50% {
    content: '..';
  }
  75% {
    content: '...';
  }
}

@keyframes flicker {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
