#navbar {
  transition: 0.7s;
  position: sticky;
  display: flex;
  align-items: center;
  top: -1px;
  width: 100%;
  padding-left: 0.8vh;
  padding-bottom: 0.2rem;
  background: var(--bs-dark);
  white-space: nowrap;
  z-index: 50;
}
#navbar.stuck {
  background: rgba(19, 19, 19, 0.2);
  border-radius: 0 0 20px 20px;
  backdrop-filter: blur(2px);
}

#navbar .logo {
  transition: 0.2s;
  position: relative;
  width: 4rem;
  z-index: 51;
}
#navbar.stuck .logo {
  width: 3.8rem;
}

#navbar .links {
  position: relative;
  display: flex;
  margin-left: 1vw;
  padding-left: 1vw;
  border-left: 2px solid var(--bs-darker);
  font-size: x-large;
  z-index: 51;
}

#navbar .nav-link {
  padding: .5rem 1rem;
  z-index: 51;
}
#navbar .nav-link.external::before {
  content: '\e89e';
  margin-right: 0.3rem;
  vertical-align: text-bottom;
  font-family: 'Material Symbols Outlined';
  font-size: 1rem;
}
#navbar .nav-link::after {
  content: '';
  transition: 0.2s ease;
  margin: 0 auto;
  display: block;
  width: 0%;
  height: 2px;
  background-color: var(--link);
}
#navbar .nav-link:hover::after {
  width: 100%;
}

@media (max-width: 975px) {
  #navbar {
    display: block;
  }
  #navbar.stuck {
    background: rgba(19, 19, 19, 0.8);
    border-radius: 0 0 20px 20px;
    backdrop-filter: blur(2px);
  }
  #navbar:hover {
    transition: 0.2s;
    border-radius: 0 0 2% 2%;
  }
  #navbar::before {
    content: '';
    transition: 0.2s;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0);
    pointer-events: none;
  }
  #navbar:hover::before {
    background: rgba(0, 0, 0, 0.6);
    z-index: 49;
    height: calc(100vh + 1px);
  }
  #navbar::after {
    content: '\2263';
    transition: right 0.2s;
    display: block;
    position: absolute;
    right: 5vw;
    font-size: xx-large;
    transform: scaleX(1.4) translateY(-120%);
    z-index: 51;
  }
  #navbar:hover::after {
    content: '\02C5';
    right: 7vw;
    transform: scaleX(1.5) translateY(-120%);
  }

  #navbar:hover .logo {
    transform: scale(1.1);
  }

  #navbar .links {
    transition: 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    max-height: 0vh;
    padding-left: 2vh;
    border-radius: 0 0 0 20px;
    overflow: hidden;
  }

  #navbar:hover .links {
    max-height: 60vh;
    padding-left: 1vh;
    animation: delay-overflow 0s linear 0.5s 1 normal forwards;
  }
}

@keyframes delay-overflow {
  to {
    overflow: auto;
  }
}
